<!DOCTYPE>
<html lang"ja">
 <head>
  <meta charset="UTF-8">
   <link rel="Stylesheet">

 <body>
  <main>
  <p id="notice"></p>
   <div class="container">
    <div class="row">
     <div class="col-md-3">



      <%= render "users/user_info", user: @user %>
      <% unless current_user != @user %>
       <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block", method: :get do %>
        <i class="fas fa-user-cog"></i>
       <% end %>
      <% end %>

　　　<% unless current_user == @user %>
       <% if current_user.following?(@user) %>
        <%= link_to "フォロー外す", user_relationships_path(@user.id), class: "btn btn-success", method: :delete %>
       <% else %>
        <%= link_to "フォローする", user_relationships_path(@user.id), class: "btn btn-success", method: :post %>
       <% end %>
      <% end %>

      <% if current_user != @user %>
       <%= link_to "StartChat", chat_path(@user.id) %>
      <% end %>

      <%= render "books/list", book: @book %>
     </div>

     <div class="col-md-8 offset-md-1">
      <%= render "searches/search" %>
      <h2>Books</h2>

       <table class="table">
        <thead>
         <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan="3"></th>
         </tr>
        </thead>
        <% @books.each do |book| %>
        <tbody>
         <tr>
          <td>
           <%= link_to user_path(book.user.id) do %>
            <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size:"40x40" %>
           <% end %>
          </td>
          <td>
           <%= link_to book_path(book.id) do %>
           <%= book.title  %>
           <% end %>
          </td>
          <td><%= book.body %></td>
         <tr>
        </tbody>
        <% end %>
       </table>

        <%= render partial: "users/day_count" %>
        <%= render partial: "users/week_count" %>
        <%= render partial: "users/month_count" %>


     </div>
    </div>
   </div>
  </main>
 </body>
</html>