<div class="container">
  <div class="row">
    <div class="col-md-3">
     <%= form_with model: @chat, remote: true do |f| %>
      <%= f.text_fieled :message %>
      <%= f.hidden_filed :room_id %>
      <%= f.submit "送る", class:"btn btn-sm btn-success chat-btn" %>
     <% end %> 
    </div>  
    <div class="col-md-8 offset-md-1">
      <h2><%= @user.name %> さんとのチャット</h2>
      
      <table class="message table">
      <% @chats.each do |chat| %>
       <% if chat.user_id == current_user.id %>
       <tbody>
        <tr>
         <th>
          <p><%= chat.message %></p>
         </th>
         <th></th>
        </tr>
       <% else %>
        <tr>
         <th>
          <p><%= chat.message %></p>
         </th>   
        </tr>
       </tbody>
       <% end %>
      <% end %>
      </table>
    </div>
  </div>
</div>