 <head>
  <meta charset="UTF-8" />
  <title>Show</title>
  <link rel="stylesheet" href="show.scss" />
 </head>

 <body>

  <h2>New book</h2>



 <%= form_with model: @book, local: true do |f| %>

 <label for = "book_title">Title</label>
 <%= f.text_field :title %>

 <label for = "Body_title">Body</label>
 <%= f.text_area :body %>
 <div class="text-bottom">
   <%= f.submit "Create Book" %>
 </div>

 <% end %>


  <h2>Book detail</h2>
<table>
 <tbody>
  <tr>
    <td>
     <%= link_to book_path(@book.id) do %>
     <%= @book.title %>
     <% end %>
    </td>
   <td>
     <%= @book.body %>
   </td>
  </tr>
 </tbody>
</table>






  </body>
</html>