 <head>
  <meta charset="UTF-8" />
  <title>Show</title>
  <link rel="stylesheet" href="show.scss" />
 </head>

 <body>

 

 <%= render "books/list", book: @book %>



  <h2>Book detail</h2>
<table>
 <tbody>
  <tr>
    <td>
     <%= link_to book_path(@book.id) do %>
     <%= @book.title %>
     <% end %>
    </td>
   <td>
     <%= @book.body %>
   </td>
  </tr>
 </tbody>
</table>

  <% if @book.user_id == current_user.id%>
   <%= link_to "Edit", edit_book_path(@book.id) %>
  <% end %>

  <% if @book.user_id == current_user.id%>
   <%= link_to "Destroy", book_path(@book.id), method: :delete %>
  <% end %>





  </body>
</html>